.landing-center
  h1 Mindfulness <br/> Machine
  p.
    Use light stimulation to enter a deep meditative state.
    This mindfulness machine uses light to sync your brain waves
    with the Alpha frequency.
a.dream-on(href='#frequency') Dream On